[MATER]
ignore=typings/

[MAIN]
init-hook='import sys;sys.path[1:1]=["typings/",  ]'

[MESSAGES CONTROL]
disable = missing-module-docstring, missing-class-docstring, missing-function-docstring

[TYPECHECK]
generated-members=sleep_ms
